@import "mixins/mixins";
@import "select-dropdown";
@import "common/var";

@include b(select) {
  display: inline-block;
  position: relative;
  .zz-input {
    & .zz-select__caret {
      color: $--select-input-color;
      font-size: $--select-input-font-size;
      transition: transform .3s;
      transform: rotateZ(0deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(180deg);
      }
    }
  }
}